// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body{
    background: linear-gradient(0deg, #fafaff 0%, #d1dfff 100%);
    width: 100%;
    min-height: 100vh;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content {
    padding: 20px;
}

.navbar {
    padding: 1rem 1rem; 
}

.navbar-brand {
    font-size: 1.5rem; 
}

.navbar-nav{
    font-size: 1rem; 
}

.table{
    width: 50%;
    height: auto;
    font-size: 1rem;
}